@charset "UTF-8";

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
	font-family: 'Oswald', sans-serif;
	font-size:5vw;
	background-color: #323341;
}

/* text transition - content */
#content {
    width:100%;
    height:50%;
    left:0%;
    top:10vw;
    z-index:3;
    position:absolute;
	-webkit-transform: translateZ(0);
}

.event {
	padding-top:10vw;
	font-size:8vw;
	font-weight: 700;
}

.desc {
	font-size:5vw;
	line-height: 5.5vw;
	padding-bottom:2vw;
}

.opacity {
	color: #b9c0d0;
	font-size:5vw;
}

.cost {
	font-size:5vw;
	font-weight: 300;
}

.type {
	font-size:5vw;
	font-weight: 300;
}


.website {
	font-size:5vw;
	padding-top:2vw;
}

#logo {
    width:90%;
    height:10%;
    left:5%;
    top:5%;
    z-index:1;
    position:absolute;
	z-index: 99;
}

#logo img{
    width:100%;
    height:auto;
	z-index: 99;
}


#background {
	overflow: hidden;
	position: relative;
	text-align: center;
	
}

#background img {
	height: 150%;
	width: 150%
}


.slides {
	width:80%;
	height:auto;
	position: absolute;
	left:10vw;
	top:10vh;
	z-index: 6;
	text-align: center;
	padding: 20px;
	color: rgba(255,255,255,1);
	opacity:0;	
}

/*Slide starting position at right hand side*/
.slides:first-of-type {
	opacity: 0;
	-webkit-animation: bounceInRight 70s 0s ease infinite;
	-webkit-animation-fill-mode: forwards;
}

/*Slide starting position at left hand side*/
.slides:nth-of-type(2n) {
	opacity: 0;
	-webkit-animation: bounceInRight 70s 10s ease infinite;
	-webkit-animation-fill-mode: forwards;	
}

/*Slide starting position at left hand side*/
.slides:nth-of-type(3n) {
	opacity: 0;
	-webkit-animation: bounceInRight 70s 20s ease infinite;
	-webkit-animation-fill-mode: forwards;
}

/*Slide starting position at left hand side*/
.slides:nth-of-type(4n) {
	opacity: 0;
	-webkit-animation: bounceInRight 70s 30s ease infinite;
	-webkit-animation-fill-mode: forwards;
}

/*Slide starting position at left hand side*/
.slides:nth-of-type(5n) {
	opacity: 0;
	-webkit-animation: bounceInRight 70s 40s ease infinite;
	-webkit-animation-fill-mode: forwards;
}

/*Slide starting position at left hand side*/
.slides:nth-of-type(6n) {
	opacity: 0;
	-webkit-animation: bounceInRight 70s 50s ease infinite;
	-webkit-animation-fill-mode: forwards;
}

.slides:last-of-type {
	opacity: 0;
	-webkit-animation: bounceInRight 50s 60s ease infinite;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes bounceInRight {


  0% {
    opacity: 0;
    
  }

  1% {
    opacity: 1;
    
  }

  14% {
	 opacity: 1;
  }
	
	15% {
	opacity: 0;
  }
	
	100% {
	opacity: 0;
  }
}



	